/* Empty. Add your own CSS if you like */
.donut-inner {
   margin-top: -70px;
   margin-bottom: 100px;

}
.donut-inner h5 {
   margin-bottom: 5px;
   margin-top: 0;
}
.bar-stable{
	background-color:#7CC7FF !important;
}
.title{
	background-color:#7CC7FF !important;
}
.test{
	margin-top:10px;
}
.zoneHeader{
	padding-top:5px;
	font-size:16px;
}
