<ion-view view-title="Area '{{zoneId}}' history">
    <ion-content on-swipe-right="goBack()">
        <div class="history">


            <div class="graphHeader">{{firstGraphTitle}}</div>
            <div>
                <canvas id="bar" class="chart chart-line" chart-data="firstGraphData" chart-labels="firstGraphLabels"></canvas>


            </div>
            <div>
                <div id="rangeValueText1">Days</div>
                <div class="list">
                    <div class="item range range-positive">
                        <i class="icon ion-android-time"></i>
                        <input type="range" name="volume" min="0" max="1" ng-model="data.tempScaleButton" value=0 id="rangeValue1"><i class="icon ion-android-time"></i>
                    </div>
                </div>

            </div>
            <div>
                <label class="item item-input"> <span class="input-label">From
				Date:</span>
                    <div class="dateCss">
                        <input type="date" ng-model="data.fromTempDate">
                    </div>
                </label>
                <label class="item item-input"> <span class="input-label">Hour:</span>
                    <div class="timeCss">
                        <input type="time" ng-model="data.fromTempTime">
                    </div>
                </label>
                <label class="item item-input"> <span class="input-label">To
				Date:</span>
                    <div class="dateCss">
                        <input type="date" ng-model="data.toTempDate">
                    </div>
                </label>
                <label class="item item-input"> <span class="input-label">Hour:</span>
                    <div class="timeCss">
                        <input type="time" ng-model="data.toTempTime">
                    </div>
                </label>
                <button class="button button-block button-calm" ng-click="dateFilter('temp')">Apply</button>
            </div>

            <div class="graphHeader">{{secondGraphTitle}}</div>
            <div>
                <canvas id="bar" class="chart chart-line" chart-data="secondGraphData" chart-labels="secondGraphLabels"></canvas>
            </div>
            <div>
                <!-- <label class="item item-input" ng-click="openDatePicker()">
                <span class="input-label">From date</span>
                 <input type="text" ng-model="formattedFromDate" readonly>

              </label> -->

                <div id="rangeValueText2">Days</div>
                <div class="list">
                    <div class="item range range-positive">
                        <i class="icon ion-android-time"></i>
                        <input type="range" name="volume" min="0" max="1" ng-model="data.humScaleButton" value=0 id="rangeValue2"> <i class="icon ion-android-time"></i>
                    </div>
                </div>

            </div>
            <div>
                <label class="item item-input"> <span class="input-label">From
				Date:</span>
                    <div class="dateCss">
                        <input type="date" ng-model="data.fromHumDate">
                    </div>
                </label>
                <label class="item item-input"> <span class="input-label">Hour:</span>
                    <div class="timeCss">
                        <input type="time" ng-model="data.fromHumTime">
                    </div>
                </label>
                <label class="item item-input"> <span class="input-label">To
				Date:</span>
                    <div class="dateCss">
                        <input type="date" ng-model="data.toHumDate">
                    </div>
                </label>
                <label class="item item-input"> <span class="input-label">Hour:</span>
                    <div class="timeCss">
                        <input type="time" ng-model="data.toHumTime">
                    </div>
                </label>
            </div>
            <button class="button button-block button-calm" ng-click="dateFilter('hum')">Apply</button>
        </div>
    </ion-content>
</ion-view>