<ion-view view-title="iBeacons">
    <ion-content>

        <button class="button button-full button-dark" ng-click="openBeaconModal()">
            iBeacon Modal Example
        </button>

        <div class="list">
            <div class="item" ng-repeat="(key, value) in beacons">
                <div class="row">
                    <div class="col truncate">
                        {{value.uuid}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        major: {{value.major}}
                    </div>
                    <div class="col">
                        minor: {{value.minor}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{value.proximity}}
                    </div>
                </div>
            </div>

        </div>

        <div class="item">
            {{count.count}}
        </div>
        
        <div class="item">
            {{newcount.count}}
        </div>
    </ion-content>
</ion-view>