<ion-view view-title="Live">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-if="noData === false">
            <div ng-repeat="myData in data">
                <div ng-if="datasize === 1">
                    <temp-hum-single-data index="$index" alldata="myData"></temp-hum-single-data>
                </div>
                <div ng-if="datasize > 1">
                    <temp-hum-multiple-data index="$index" alldata="myData"></temp-hum-multiple-data>
                </div>
            </div>
        </div>
        <div ng-if="noData === true" class="errorBlock">
            <div class="headerError">Sorry!</div>
            <div class="messageError">Failed to retrieve data! Try again later...</div>
            <!-- <img src="../img/emoticon-snoozing.png"/ width="300px" style="padding-top:20px"> -->
        </div>
    </ion-content>
</ion-view>