<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">IBM Smart Office</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeBeaconModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="/img/IBM_tbxcaw.jpg">
                <h2>IBM Smart Office</h2>
                <p>Latest news!</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="/img/IoT-Graphic.png">
                <p>
                    Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info. Some info.
                </p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>