<ion-view view-title="Live data"> <ion-content
	class="padding">

<div class="row">
	<div class="col-xs-12 col-md-12">
	Zone 123
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-md-6">
		<a href="#/tab/history/0" type="button"
			class="btn btn-link btn-lg btn-block">
			<canvas id="myChartTest"></canvas>
		</a>
	</div>

	<div class="col-xs-6 col-md-6">
		<a href="#/tab/history/1" type="button"
			class="btn btn-link btn-lg btn-block">
			<canvas id="myChartH"></canvas>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
	Zone 32
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-md-6">
		<a href="#/tab/history/0" type="button"
			class="btn btn-link btn-lg btn-block">
			<canvas id="myChartT1"></canvas>
		</a>
	</div>

	<div class="col-xs-6 col-md-6">
		<a href="#/tab/history/1" type="button"
			class="btn btn-link btn-lg btn-block">
			<canvas id="myChartH2"></canvas>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
	Zone 89
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-md-6">
		<a href="#/tab/history/0" type="button"
			class="btn btn-link btn-lg btn-block">
			<canvas id="myChartT3"></canvas>
		</a>
	</div>

	<div class="col-xs-6 col-md-6">
		<a href="#/tab/history/1" type="button"
			class="btn btn-link btn-lg btn-block">
			<canvas id="myChartH4"></canvas>
		</a>
	</div>
</div>

</ion-content> </ion-view>
