<ion-tabs class="customized-tabs tabs-icon-top tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Live Data" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>

  <!-- About Tab -->
  <ion-tab title="History" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tab/history/0">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>


  <!-- Help Tab -->
  <ion-tab title="Help" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/help">
    <!-- <ion-nav-view name="tab-help"></ion-nav-view> -->
  </ion-tab>
  
</ion-tabs>
