<div id="data">
	<div class="col-xs-12 col-md-12 zoneHeader">Area: {{all.zone}}</div>
	<div id="{{'row'+index}}">
		<div class="col-xs-10 col-md-10">
			<a href="#/history/{{all.zone}}/T" id="myChartTestas" type="button"
				class="btn btn-link btn-lg btn-block">
				<canvas id="{{temperatureId}}"></canvas>
			</a>
		</div>
	</div>
	<div id="{{'row'+index}}">
		<div class="col-xs-10 col-md-10">
			<a href="#/history/{{all.zone}}/H" type="button"
				class="btn btn-link btn-lg btn-block">
				<canvas id="{{humidityId}}"></canvas>
			</a>
		</div>
	</div>
</div>